<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script defer type="module" src="/logic/logicOfProducts.js"></script>
    <script defer type="module" src="/logic/logicOfChat.js"></script>
    <script defer src="/logic/loficOfCarrito.js"></script>
</head>
<body>

    {{{body}}}


<script src="/socket.io/socket.io.js"></script>
</body> 
</html>