<h1>Felicidades. Su pedido ha sido confirmado con exito</h1>
<form action="/inicio" method="GET">
    <input type="submit" value="Volver a Inicio">
</form>
<form action="/logout" method="GET">
    <input type="submit" value="Desloguearse">
</form>
