<p>Deslogueado exitosamente</p>
<form action="/login" method="GET">
    <input type="submit" value="Iniciar Sesión">
</form>
<form action="/registro" method="GET">
    <input type="submit" value="Registrar nuevo usuario">
</form>