
{{!-- 
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form> --}}

<form action="/inicio" method="POST">
    <p>Inicio de sesión</p>
    <input type="text" placeholder="Username" name="nombre">
    <input type="password" placeholder="Password" name="contraseña">
    <input type="submit" value="Loguearse">
</form>
<br>
<form action="/registro" method="GET">
    <input type="submit" value="Registrar nuevo usuario">
</form>